@font-face {
  font-family: 'TanukiMagic';
  src: url('TanukiMagic.ttf') format('truetype');
}



body {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;

}
/*.brand-heading h1 {
  padding-top:350px;
}*/
/*header {
  vertical-align: middle;
}*/
.intro {
    background-image:url("sozai/IMG_8616.jpg");
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: url(sozai/Top_bg2.jpg) no-repeat bottom center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*.mannnaka h1 {
  margin:0 auto;
}*/

.title {
  box-sizing: border-box;
  margin-top:90px;
  font-size:100px;
  color:#FFF;
  text-shadow:1px 3px 5px #000;
  font-family: "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.taitorumoji {
  margin-top:70px;
  font-size:80px;
  color:#333;
  text-shadow:1px 3px 5px #999;
  margin-bottom:100px;
}

.gaiyou {
  font-size:32px;
  background: #333;
  margin-left:25%;
  margin-top:8%;
  border:1px solid #000;
  color:#fff;
  opacity:0.6;
  width:50%;
  height:25%;
  box-shadow:3px 3px 3px #444;
  text-shadow:1px 0px 1px #aaa;
  font-family:'TanukiMagic';

}



.noto100 {font-weight:100;}

/*@media (min-width:420px) {
  .gaiyou {
  font-size:18px;
  background: #333;
  margin-left:30%;
  margin-top:8%;
  border:1px solid #000;
  color:#fff;
  opacity:0.6;
  width:300px;
  height:250px;
  box-shadow:3px 3px 3px #444;
  }
}*/

.gazou {
  width:93%;
  height:27%;
  border-radius:20px;
}



/*.wn {
  border-top-style:solid;
  border-left-style:solid;*/
  /*border-right-style:solid;*/
  /*border-bottom-style: solid;
}*/

/*@media (min-width:640px){
  .gazou {
    width:90%;
    height:50%;
  }
}
@media (min-width:480px){
  .gazou {
    width:90%;
    height:50%;
  }
}
@media (min-width:320){
  .gazou {
    width:90%;
    height:50%;
  }
}

#iqos {
  background-image:url(sozai/b_bg.jpg);
/*background-size:90%;*/
}
.backshiro {
  margin:0% 1%;
  /*width:95%;*/
/*background-clip:content-box;*/
  overflow-x:hidden;
  background-color:#FFF;
/*  background-position:130px 1px;
  background-size:100px;*/
}

.back {
  background-color:#FFF;
}
.yen {
  margin-top:100px;
  width:100%;
  height:40%;
  border-radius:50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
  border-radius:100%;
}

.word-yellow {
  background-color:yellow;
  color:#000;
}

.hanbai {
  clear:both;
  color:#ff0000;
  padding:10px 90px;
  font-size:18px;
}

.ryoukin {
  padding-bottom:100px;
  padding-left:100px;
}
.iqus-ryoukin {
  clear:both;
  padding:10px 90px;
  font-size:18px;
}
.disp {
  padding-top:30px;
  float:left;
}

.nigeru {
  display:inline-block;
  list-style-type: none
}
.mannakatyuuou {
  text-align:center;
  padding-top:150px;
}
@media (max-width:1000px) {
  .gazou {
    width:80%;
    height:50%;
  }
  .gaiyou {
    font-size:20px;
  }
  .title {
    font-size:70px;
  }
  .yen {
    width:80%;
    height:60%;
  }
  .ryoukin {
  padding-left:0px;
}
  .kakushuku {
    width:100%;
  }
  .intro {
      background-color:#FFFFFF;
   background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:100% auto;
  -o-background-size: contain;
  }
}

@media (max-width:960px) {
  .gazou {
    width:80%;
    height:50%;
  }
  .gaiyou {
    font-size:20px;
  }
  .title {
    font-size:70px;
  }
  .yen {
    width:80%;
    height:60%;
  }
  .ryoukin {
  padding-left:0px;
}
  .kakushuku {
    width:100%;
  }
  .intro {
      background-color:#FFFFFF;
   background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:100% auto;
  -o-background-size: contain;
  }
}

@media (max-width:768px){
  .gazou {
    width:90%;
    height:50%;
  }
  .yen {
    width:90%;
    height:50%;
  }
  .ryoukin {
  padding-left:0px;
}
  .kakushuku {
    width:100%;
  }
  .intro {
      background-color:#FFFFFF;
   background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:120% auto;
  -o-background-size: contain;
  }
}

@media(max-width:640px) {
  .gazou {
    width:90%;
    height:33%;
  }
  .title {
    font-size:65px;
  }
  .gaiyou{
    width:70%;
    height:70%;
    margin-left:15%;
    font-size:20px;
  }
  .yen {
    margin-left:10%;
    width:80%;
    height:50%;
  }
  .intro {
    background-color:#FFFFFF;
   background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:120% auto;
  -o-background-size: contain;
    }
  .taitorumoji {
    font-size:60px;
  }
  .ryoukin {
  padding-left:0px;
}
  .kakushuku {
    width:100%;
  }
}

@media (max-width:480px) {
  .gazou {
    width:90%;
    height:35%;
  }
  .yen {
    width:80%;
    height:50%;
  }
  .title {
    font-size:40px;
  }
  .intro {
  background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:200% auto;
  -o-background-size: contain;
  }
  .taitorumoji {
  font-size:40px;


}
footer {
  text-align:center;
  background-color:#000000;
  color:#FFFFFF;
  width:100%;
  height:30%;
}
